// Colors --------------------------------------------------------------------

$primary-blue: #3991D1;
$secondary-blue: #052F5F;//#00416B; #1E2952
$dark-blue: #1E2952;
$link-red: #FF5A5F;//#FF715B;
$nav-background: #f4f6f9 ; 
$sidenav-background: #1D2125;
$link-light: #51B2FD; 
/* Backgrounds */
$white: #ffffff;
$grey-lightest: #f1f1f1;

/* Alerts */
$alert-level-1: #FBCFDA;

/* Primary Colors */
$brand-blue: #232D4B;
$brand-blue-light: #0370B7;
$brand-blue-lighter: #3395D4;
$brand-blue-lightest: #87B9D9;
$brand-orange-dark: #B35900;
$brand-orange: #E57200;

/* Secondary Colors */
$blue-alt-dark:#005679;
$blue-alt:#007BAC;
$blue-alt-light:#55C4EC;
$blue-alt-lighter:#91D8F2;
$blue-alt-lightest:#BFE7F7;
$teal-darker:#16777C;
$teal-dark:#1DA1A8;
$teal:#25CAD3;
$teal-light:#5BD7DE;
$teal-lightest:#C8F2F4;

/* Greys */
$grey-darkest:#2B2B2B;
$grey-dark: #4f4f4f;
$grey: #808080;
$grey-light: #dadada;
$grey-lightest: #f1f1f1;



// Typography --------------------------------------------------------------------

$font-primary: "Poppins", Arial, sans-serif;
$font-secondary: "Oswald", Arial, sans-serif;

$font-heading: $font-secondary;
