<footer>
    <div class="footer-wrapper">
        <section class="footer-menu">
            <nav>
                {% if site.data.navbar[0] %}
                <ul class="footer-nav">
                    {% for item in site.data.navbar %}
                    <li>
                        <a href="{{ item.url | prepend: site.url }}">
                            {{ item.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </nav>
        </section>
        <section class="footer-contact">
            <a class="footer-link" href="">
                <img src="{{ "/assets/img/EC-Logo-Web-Grey.png" | prepend: site.url }}" height="22px" class="footer-logo" alt="The Equity Center">
            </a>
        </section>
    </div>
</footer>