<!-- Load leaflet for R-->

<!-- <link href="https://rstudio.github.io/leaflet/libs/highlightjs/default.css" rel="stylesheet" />
<script src="https://rstudio.github.io/leaflet/libs/highlightjs/highlight.js"></script> -->

<link rel="stylesheet" href="{{ "/assets/js/leaflet/leaflet-1.3.1/leaflet.css" | prepend: site.url }}">
<script src="{{ "/assets/js/leaflet/leaflet-1.3.1/leaflet.js" | prepend: site.url }}"></script>
<!-- <link href="https://rstudio.github.io/leaflet/libs/leaflet/leaflet.css" rel="stylesheet" /> -->
<!-- <script src="https://rstudio.github.io/leaflet/libs/leaflet/leaflet.js"></script> -->

<link rel="stylesheet" href="{{ "/assets/js/leaflet/leafletfix-1.0.0/leafletfix.css" | prepend: site.url }}">
<!-- <link href="https://rstudio.github.io/leaflet/libs/leafletfix/leafletfix.css" rel="stylesheet" /> -->

<script src="{{ "/assets/js/leaflet/proj4-2.6.2/proj4.min.js" | prepend: site.url }}"></script>
<script src="{{ "/assets/js/leaflet/Proj4Leaflet-1.0.1/proj4leaflet.js" | prepend: site.url }}"></script>
<link rel="stylesheet" href="{{ "/assets/js/leaflet/rstudio_leaflet-1.3.1/rstudio_leaflet.css" | prepend: site.url }}">
<!-- <script src="https://rstudio.github.io/leaflet/libs/proj4/proj4.min.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/Proj4Leaflet/proj4leaflet.js"></script>
<link href="https://rstudio.github.io/leaflet/libs/rstudio_leaflet/rstudio_leaflet.css" rel="stylesheet" /> -->

<script src="{{ "/assets/js/leaflet/leaflet-binding-2.1.1/leaflet.js" | prepend: site.url }}"></script>
<!-- <script src="https://rstudio.github.io/leaflet/libs/leaflet-binding/leaflet.js"></script> -->

<!-- <link href="https://rstudio.github.io/leaflet/libs/leaflet-measure/leaflet-measure.css" rel="stylesheet" />
<script src="https://rstudio.github.io/leaflet/libs/leaflet-measure/leaflet-measure.min.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/leaflet-graticule/L.Graticule.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/leaflet-graticule/Graticule-binding.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/leaflet-terminator/L.Terminator.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/leaflet-terminator/Terminator-binding.js"></script> -->

<script src="{{ "/assets/js/leaflet/leaflet-providers/leaflet-providers_1.13.0.js" | prepend: site.url }}"></script>
<script src="{{ "/assets/js/leaflet/leaflet-providers-plugin/leaflet-providers-plugin.js" | prepend: site.url }}"></script>
<!-- below two replaced with above, seems to have been removed -->
<!-- <script src="https://rstudio.github.io/leaflet/libs/leaflet-providers/leaflet-providers_1.13.0.js"></script> -->
<!-- <script src="https://rstudio.github.io/leaflet/libs/leaflet-providers-plugin/leaflet-providers-plugin.js"></script> -->

<link href="https://rstudio.github.io/leaflet/libs/leaflet-minimap/Control.MiniMap.min.css" rel="stylesheet" />
<script src="https://rstudio.github.io/leaflet/libs/leaflet-minimap/Control.MiniMap.min.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/leaflet-minimap/Minimap-binding.js"></script>

<link rel="stylesheet" href="{{ "/assets/js/leaflet/leaflet-easybutton-1.3.1/easy-button.css" | prepend: site.url }}">
<script src="{{ "/assets/js/leaflet/leaflet-easybutton-1.3.1/easy-button.js" | prepend: site.url }}"></script>
<script src="{{ "/assets/js/leaflet/leaflet-easybutton-1.3.1/EasyButton-binding.js" | prepend: site.url }}"></script>
<!-- <link href="https://rstudio.github.io/leaflet/libs/leaflet-easybutton/easy-button.css" rel="stylesheet" />
<script src="https://rstudio.github.io/leaflet/libs/leaflet-easybutton/easy-button.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/leaflet-easybutton/EasyButton-binding.js"></script> -->

<link href="https://rstudio.github.io/leaflet/libs/fontawesome/font-awesome.min.css" rel="stylesheet" />
<link href="https://rstudio.github.io/leaflet/libs/leaflet-markercluster/MarkerCluster.css" rel="stylesheet" />
<link href="https://rstudio.github.io/leaflet/libs/leaflet-markercluster/MarkerCluster.Default.css" rel="stylesheet" />
<script src="https://rstudio.github.io/leaflet/libs/leaflet-markercluster/leaflet.markercluster.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/leaflet-markercluster/leaflet.markercluster.freezable.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/leaflet-markercluster/leaflet.markercluster.layersupport.js"></script>

<link rel="stylesheet" href="{{ "/assets/js/ionicons-2.0.1/ionicons.min.css" | prepend: site.url }}">
<!-- <link href="https://rstudio.github.io/leaflet/libs/ionicons/ionicons.min.css" rel="stylesheet" /> -->


<!-- leaflet.extras package / check https://github.com/bhaskarvk/leaflet.extras/tree/master/inst/htmlwidgets/build-->
<!-- You may need to include new refs -->
<!-- leaflet.extras package / heatmap -->
<script src="https://dieghernan.github.io/assets/js/leaflet_extras/lfx-heat/lfx-heat-prod.js"></script>
<script src="https://dieghernan.github.io/assets/js/leaflet_extras/lfx-heat/lfx-heat-bindings.js"></script>	
