<header id="topNav" class="nav">
    <div class="nav-wrap">
    <nav class="navbar navbar-expand-md" role="navigation" aria-label="main navigation">
        <!-- <div class="nav-container"> -->
        <div class="nav-main">
            <a class="home-page" href="{{ site.url }}" title="{{ site.title }}">
            <!-- <a class="site-title navbar-brand" href="{{ site.url }}" title="{{ site.title }}"> -->
                <span style="color:#3991D1">Charlottesville&nbsp</span><span style="color:#052F5F">Equity Atlas</span>
            </a>
            <!-- Menu expanded -->
            
            <!-- <nav id="nav-expanded"> -->
                {% if site.data.navbar[0] %}
                <ul class="primary-nav">
                <!-- <ul class="navbar-nav justify-content-end flex-grow-1"> -->
                    {% for item in site.data.navbar %}
                    {% if item.level == 1 %}
                    <li>
                    <!-- <li class="nav-item"> -->
                        <a class="nav-link" href="{{ item.url | prepend: site.url }}">
                            {{ item.title }}
                        </a>
                    </li>
                    {% endif %}
    
                    {% if item.level == 2 %}
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ item.url | prepend: site.url}}" role="button" aria-expanded="false">
                            {{ item.title }}
                        </a>
                        
                        <ul class="dropdown-menu">
                            {% for entry in item.subnav %}
                            <li class="nav-dropdown-item">
                                <a class="dropdown-item" href="{{ entry.url | prepend: site.url}}">
                                    {{ entry.page }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            <!-- </nav> -->
        <!-- Offcanvas nav sidebar -->
        <a class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-navbar" aria-controls="block-mobilemainnav-menu" aria-label="open menu">
            <span class="navbar-toggler-icon" aria-hidden="true" role="img"></span>
        </a>

            <div class="offcanvas offcanvas-end offcanvas-navbar" tabindex="-1" id="offcanvas-navbar" aria-labelledby="block-mobilemainnav-menu">
                <h2 class="visually-hidden" id="block-mobilemainnav-menu">Mobile Main Nav</h2>
                <div class="offcanvas-header justify-content-end">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.url }}" title="{{ site.title }}">
                                Home
                            </a>
                        </li>
                    </ul>
                    {% if site.data.navbar[0] %}
                    <ul class="nav flex-column mb-auto">
                        {% for item in site.data.navbar %}
                        {% if item.level == 1 %}
                        <li class="nav-item">
                            <a href="{{ item.url | prepend: site.url}}" class="nav-link">{{ item.title }}</a>
                        </li>
                        {% endif %}
    
                        {% if item.level == 2 %}
                        <li class="nav-item">
                            <a class="nav-link btn-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false" role="button">
                                {{ item.title }}
                            </a>
                            <div class="collapse nav-dropdown" id="dashboard-collapse">
                                <ul class="btn-toggle-nav navbar-nav">
                                    {% for entry in item.subnav %}
                                    <li class="nav-item level-2">
                                        <a href="{{ entry.url | prepend: site.url}}" class="nav-link">
                                            {{ entry.page }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            </li>  
                        {% endif %}
            
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</div>
</header>
