<header>
    <!-- <div class="nav-wrap"> -->
        <!-- <nav id="main-menu">
            <div class="nav-container">
                <a class="site-title navbar-brand" href="{{ site.url }}" title="{{ site.title }}">
                    Charlottesville Equity Atlas
                </a>
                {% if site.data.navbar[0] %}
                <ul class="main-nav">
                    {% for item in site.data.navbar %}
                    {% if item.level == 1 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ item.url }}">
                            {{ item.title }}
                        </a>
                    </li>
                    {% endif %}
    
                    {% if item.level == 2 %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ item.url }}" role="button" aria-expanded="false">
                            {{ item.title }}
                        </a>
                        
                        <ul class="dropdown-menu">
                            {% for entry in item.subnav %}
                            <li class="nav-dropdown-item">
                                <a class="dropdown-item" href="{{ entry.url }}">
                                    {{ entry.page }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}

            </div>
        </nav> -->

        <nav id="topNav" class="navbar navbar-expand-md">
            <div class="nav-container container-lg">
                <a class="site-title navbar-brand" href="{{ site.url }}" title="{{ site.title }}">
                    <span style="color:#3991D1">Charlottesville </span><span style="color:#052F5F">Equity Atlas</span>
                </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-navbar" aria-controls="offcanvasNavbarDarkLabel">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!-- Menu expanded -->
                <nav id="nav-expanded">
                    {% if site.data.navbar[0] %}
                    <ul class="navbar-nav justify-content-end flex-grow-1">
                        {% for item in site.data.navbar %}
                        {% if item.level == 1 %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ item.url }}">
                                {{ item.title }}
                            </a>
                        </li>
                        {% endif %}
        
                        {% if item.level == 2 %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{ item.url }}" role="button" aria-expanded="false">
                                {{ item.title }}
                            </a>
                            
                            <ul class="dropdown-menu">
                                {% for entry in item.subnav %}
                                <li class="nav-dropdown-item">
                                    <a class="dropdown-item" href="{{ entry.url }}">
                                        {{ entry.page }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </nav>
        
            <!-- Offcanvas nav sidebar -->
              <div class="offcanvas offcanvas-end offcanvas-navbar" tabindex="-1" id="offcanvas-navbar" aria-labelledby="offcanvasNavbarDarkLabel">
                    <div class="offcanvas-header justify-content-end">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
        
                        {% if site.data.navbar[0] %}
                
                        <ul class="nav flex-column mb-auto">
                            {% for item in site.data.navbar %}
                            {% if item.level == 1 %}
                            <li class="nav-item">
                                <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
                            </li>
                            {% endif %}
        
                            {% if item.level == 2 %}
                            <li class="nav-item">
                                <a class="nav-link btn-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false" role="button">
                                    {{ item.title }}
                                </a>
                                <div class="collapse nav-dropdown" id="dashboard-collapse">
                                    <ul class="btn-toggle-nav navbar-nav">
                                        {% for entry in item.subnav %}
                                        <li class="nav-item level-2">
                                            <a href="{{ entry.url }}" class="nav-link">
                                                {{ entry.page }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                </li>  
                            {% endif %}
                
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        
    <!-- </div> -->


</header>
