<!-- <script src="{{ "assets/js/jquery-3.6.0/jquery-3.6.0.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/htmlwidgets-1.6.1/htmlwidgets.js" | relative_url }}"></script> -->
<script src="{{ "assets/js/plotly-binding-4.10.1/plotly.js" | relative_url }}"></script>
<script src="{{ "assets/js/typedarray-0.1/typedarray.min.js" | relative_url }}"></script>
<link href="{{ "assets/js/crosstalk-1.2.0/css/crosstalk.min.css" | relative_url }}" rel="stylesheet" />
<script src="{{ "assets/js/crosstalk-1.2.0/js/crosstalk.min.js" | relative_url }}"></script>
<link href="{{ "assets/js/plotly-htmlwidgets-css-2.11.1/plotly-htmlwidgets.css" | relative_url }}" rel="stylesheet" />
<script src="{{ "assets/js/plotly-main-2.11.1/plotly-latest.min.js" | relative_url }}"></script>