<script src="{{ "/assets/js/plotly/plotly-binding-4.10.1/plotly.js" | prepend: site.url  }}"></script>
<script src="{{ "/assets/js/plotly/typedarray-0.1/typedarray.min.js" | prepend: site.url }}"></script>
<link href="{{ "/assets/js/plotly/crosstalk-1.2.0/css/crosstalk.min.css" | prepend: site.url }}" rel="stylesheet" />
<script src="{{ "/assets/js/plotly/crosstalk-1.2.0/js/crosstalk.min.js" | prepend: site.url }}"></script>
<link href="{{ "/assets/js/plotly/plotly-htmlwidgets-css-2.11.1/plotly-htmlwidgets.css" | prepend: site.url }}" rel="stylesheet" />
<script src="{{ "/assets/js/plotly/plotly-main-2.11.1/plotly-latest.min.js" | prepend: site.url }}"></script>