<script src="{{ "/assets/js/reactable/core-js-2.5.3/shim.min.js" | prepend: site.url }}"></script>
<script src="{{ "/assets/js/reactable/react-17.0.0/react.min.js" | prepend: site.url }}"></script>
<script src="{{ "/assets/js/reactable/react-17.0.0/react-dom.min.js" | prepend: site.url }}"></script>
<script src="{{ "/assets/js/reactable/reactwidget-1.0.0/react-tools.js" | prepend: site.url }}"></script>
<link href="{{ "/assets/js/reactable/reactable-0.4.4/reactable.css" | prepend: site.url }}" rel="stylesheet" />
<script src="{{ "/assets/js/reactable/reactable-binding-0.4.4/reactable.js" | prepend: site.url }}"></script>