<script src="{{ "assets/js/core-js-2.5.3/shim.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/react-17.0.0/react.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/react-17.0.0/react-dom.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/reactwidget-1.0.0/react-tools.js" | relative_url }}"></script>
<!-- <script src="{{ "assets/js/htmlwidgets-1.6.1/htmlwidgets.js" | relative_url }}"></script> -->
<link href="{{ "assets/js/reactable-0.4.4/reactable.css" | relative_url }}" rel="stylesheet" />
<script src="{{ "assets/js/reactable-binding-0.4.4/reactable.js" | relative_url }}"></script>