---
layout: none
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" prefix="og: https://ogp.me/ns#">
{% include head.html %}
<body class="report">
  <a href="#maincontent" class="visually-hidden focusable skip-link">
    Skip to main content
  </a>
  {% include navbar.html %}

  <article class="report-content">

    {% unless page.url == "/" %}
    {% include breadcrumbs.html %}
    {% endunless %}

    <button onclick="topFunction()" id="toTopBtn" title="Go to top">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 20 15" style="enable-background:new 0 0 20 15;" xml:space="preserve">
        <path d="M20,0H0v15h20V0z M13.3,7.2c-0.4,0.3-0.9,0.3-1.3,0l-1.2-1.2v5c0,0.5-0.4,0.9-0.9,0.9s-0.9-0.4-0.9-0.9v-5L7.9,7.2
        C7.5,7.6,7,7.5,6.6,7.1C6.4,6.8,6.4,6.3,6.6,6l2.7-2.7c0.4-0.4,0.9-0.4,1.3,0L13.3,6C13.7,6.3,13.7,6.9,13.3,7.2z"/>
      </svg>
    </button> 

    <div id="maincontent" class="main-container">
      {{ content}}
    </div>

  </article>

  {% include footer.html %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous" async></script>
<script>
  let toTopButton = document.getElementById("toTopBtn");
  let topnav = document.getElementById("topNav")
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1000) {
      toTopButton.style.display = "block";
      topnav.classList.add('hidden');
      // topnav.style.marginTop = ""
    } else {
      toTopButton.style.display = "none";
      topnav.classList.remove('hidden')
    }
  }
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>

{% if page.plotly %}
{% include plotly.html %}
{% endif %}

{% if page.reactable %}
{% include reactable.html %}
{% endif %}

{% if page.leaflet %}
{% include leaflet.html %}
{% endif %}

{% if page.tabset %}
<script src="{{ "/assets/js/navigation-1.1/tabsets.js" | prepend: site.url }}"></script>
<script>
  $(document).ready(function () {
    window.buildTabsets("TOC");
  });
  
  $(document).ready(function () {
    $('.tabset-dropdown > .nav-tabs > li').click(function () {
      $(this).parent().toggleClass('nav-tabs-open');
    });
  });
</script>
{% endif %}

</body>
</html>